.wrapper>main{
  border: 1px solid;
}

.wrapper>main>section{
   
}

.wrapper>main>section:nth-child(1){
  height: 400px;
  display: flex;
  margin: 0 auto;

}
.wrapper>main>section:nth-child(1)>aside{
  border: 1px solid;
  width: 100px;
}
.wrapper>main>section:nth-child(1)>article{
  border: 1px solid;
  flex-grow: 1;
}
.wrapper>main>section:nth-child(2){
    height: 500px;
    display: flex;
    border: 1px solid;

}


 

.container{
  width: 150px;
  height: 150px;
  
  position: relative;
  perspective: 1000px;
  margin: 0 auto;

}
.container>.card{
    width: 150px;
    height: 150px;
    

    transform-style: preserve-3d;
    transition: 1s;
    
}
.container>.card>.front,
.container>.card>.back
{
 width: 100%;
 height: 100%;
 position: absolute;
 margin: 0 auto;
 align-items: center;
  box-shadow: 5px 5px 15px lightgray;
 backface-visibility: hidden;
 border-radius: 50%;
}
.container>.card>.front{
 background-color: orange;
 padding: 1px;
  display: flex;
 justify-content: center;

 
    
}
.container>.card>.front:hover{
    opacity: 1;
 
}
.container>.card>.back{
 background-color: royalblue;
transform: rotateY(180deg);

color: white;
 font-size: 0.4rem;
 display: flex;
 justify-content: center;
 align-items: center;

 line-height: 12px;
}
.container:hover .card{
  transform: rotateY(180deg);
}
